*{
	padding: 0px;
	margin: 0px;
}

.imgB{
	height: 105vh;
	background: url(../img/arbol.jpg);
	background-size: cover;
	background-position: center;
}

.nav-bar{
	display: flex;
	padding: 20px 60px;
}

.nav-logo{
	padding: 4px 8px;
	background: #7d1ae6;
	font-family: 'Righteous', cursive;
	border-radius: none;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	transition: 0.5s;
}

.nav-link{
	flex: 1;
}

.nav-link ul{
	margin-left: 50px;
	display: inline;
}

.nav-link ul li{
	list-style: none;
	display: inline-block;
	padding: 10px 25px;

}

.nav-link ul li a{
	color: #fff;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
}

.nav-link ul li::after{
	content: '';
	width: 0;
	height: 2px;
	background: #7d1ae6;
	display: block;
	margin: auto;
	transition: 0.5s;
}

.nav-link ul li:hover::after{
	width: 100%;
}

.btn{
	margin: 2px;
	padding: 10px 20px;
	background-color: #7d1ae6;
	font-weight: normal;
	border: 0;
	cursor: pointer;
	outline: none;
}

.banner-title{
	margin: 190px 60px;
	color: #fff;
}

.banner-title h1{
	font-family: 'Righteous', cursive;
	font-size: 60px;
	margin-bottom: 30px;
	line-height: 60px;
}

.banner-title h1 span{
	color: #7d1ae6;
}

.banner-title .btn{
	color: #fff;
	font-size: 14px;
	font-weight: normal;
}

.about{
	margin: 110px 60px;
	color: #fff;
}

.imgB2{
	height: 105vh;
	background: url(../img/world.png);
	background-size: cover;
	background-position: center;
}

.about h1{
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	margin-bottom: 30px;
	line-height: 80px;
}

.about h1 span{
	color: #7d1ae6;
}

.imgB3{
	height: 105vh;
	background: url(../img/plant.jpg);
	background-size: cover;
	background-position: center;
}

.social-media {
	margin: 50px 60px;
	color: #fff;
	list-style: none;
	line-height: 80px;
}

.social-media h1{
	font-family: 'Righteous', cursive;
	font-size: 50px;
	color: #7d1ae6;
}

.social-media li img{
	width: 50px;
	height: 50px;
}

.social-media li a{
	margin: 20px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	font-size: 50px;
	text-transform: uppercase;
}

.imgB4{
	height: 105vh;
	background: url(../img/flower.png);
	background-size: cover;
	background-position: center;
}

.donations{
	margin: 50px 60px;
	color: #fff;
	list-style: none;
	line-height: 80px;
}

.donations h1{
	font-family: 'Righteous', cursive;
	font-size: 50px;
	color: #7d1ae6;
}

.donations img{
	width: 250px;
	height: 250px;
}